*.DS_Store

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.h-e
**/FailureDiffs
build_logs
build_products

#os x file dir

test_output/
default.profraw

nrdSYM*.zip
*.pyc


# Carthage (only Checkouts, Build should be committed)
Revolut/Carthage/Checkouts
Revolut/CarthageMonolith/Carthage/Checkouts



